# OS / IDE
.DS_Store
.idea/
.vscode/

# Secrets
.secrets

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Python
**/__pycache__/
*.pyc

# Helm
charts/*/charts/
charts/*/Chart.lock
*.tgz