version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    container_name: backend-app

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    container_name: frontend-app
